################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs
/WebApplication1/WebApplication1/bin/Debug/netcoreapp2.0
/WebApplication1/WebApplication1/obj
/WebApiApp/.vs
/WebApiApp/WebApiApp/bin/Debug/netcoreapp2.0
/WebApiApp/WebApiApp/obj
/MvcApp/MvcApp/bin/Debug/netcoreapp2.0
/MvcApp/.vs
/MvcApp/MvcApp/obj
